@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Aleo", serif;
}
body {
  padding: 0.5rem;
}
img {
  width: 100%;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  /* grid-template-rows: 1fr 8fr 1fr; */
}

.site-header {
  grid-area: header;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

.site-main {
  grid-area: main;
  padding: 0 1rem;
}

.site-footer {
  grid-area: footer;
}

/* section */
section {
  margin: 1rem 0;
  width: 100%;
}

.works h2 {
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 1rem 0;
}
.works div {
  margin-bottom: 1rem;
}
/* section call */
.call {
  border-bottom: 1px solid grey;
  padding: 0 0 1rem 0;
}

.section-img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.call h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
}
.call p {
  font-size: 1.5rem;
  text-align: center;
}
/* section we-come */
.we-come {
  border-bottom: 1px solid grey;
  padding: 0 0 1rem 0;
}

.section-img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.we-come h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
}
.we-come p {
  font-size: 1.5rem;
  text-align: center;
}
/* recommend */
.recommend {
  padding: 0 0 1rem 0;
}

.section-img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.recommend h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
}
.recommend p {
  font-size: 1.5rem;
  text-align: center;
}

/* media query */

@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-areas:
      "header header header header"
      "main main main main"
      "footer footer footer footer";
  }
  .site-header {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  .site-main {
    margin: 0 auto;
    max-width: 1280px;
  }

  /* wors make grid 3 column */
  .card-wrapper {
    display: grid;
    grid-template-areas: "card1 card2 card3";
    gap: 1rem;
    margin: 1rem 0;
  }
  .call {
    grid-area: card1;
    border: none;
  }
  .we-come {
    grid-area: card2;
    border: none;
  }
  .recommend {
    grid-area: card3;
  }
  /* .site-footer {
    margin: 0 1rem;
    border-radius: 1rem;
  } */
}
